name: Placeholder for manual trigger

on:
  workflow_dispatch:

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2
            - name: Placeholder step
              run: echo "This is a placeholder workflow to enable manual triggering."